<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/challenge1.css">
    <title>Conor Butler</title>
</head>
<body>
    <header>
        <h1>Conor Butler</h1>
        <a class="logo" href="https://github.com/ConorButler">
            <img src="../images/github.svg" alt="GitHub Profile"/>
        </a>
    </header>
    <nav>
        <a href="http://your-name.github.io/">Home</a>
        <a href="https://github.com/ConorButler">GitHub</a>
    </nav>
    <main>
        <h1>CSS Layouts</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in erat consequat, laoreet felis ac, consectetur justo. Morbi sit amet interdum lectus. Donec dignissim, dui et sollicitudin malesuada, tortor elit dictum erat, ut blandit est leo a velit. Mauris pretium mollis finibus. Sed ex sem, cursus ut elit ut, tincidunt convallis arcu. Aenean suscipit libero ut ante elementum ullamcorper. In aliquet vulputate est, nec vestibulum lacus gravida et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vestibulum fringilla erat id malesuada. Maecenas euismod diam non felis ornare ullamcorper. Sed pretium neque tellus, at consectetur leo vulputate eget. Sed non magna eu nisi tincidunt dignissim. Suspendisse ac erat non enim auctor aliquet quis eget nisi. In tortor urna, condimentum ac pretium nec, faucibus at elit. Cras in eros nec velit mollis porta id at lacus. Nam sollicitudin nunc id congue ornare.
        </p>
        <p>
            Praesent lobortis rutrum erat non varius. Morbi eleifend vulputate eros, quis commodo nisl convallis ac. Ut euismod semper eros, ut efficitur justo ultrices non. Donec ut pharetra magna. Suspendisse potenti. Sed nec tempus diam, mattis ullamcorper est. Mauris pharetra vel magna eu tempor. Integer mauris velit, convallis et egestas vel, lacinia sit amet sapien. Etiam efficitur, purus tempus ultricies posuere, mauris erat sollicitudin orci, quis interdum metus sem ut elit. Quisque quis placerat urna, in egestas elit. Curabitur in elit ex. Mauris mauris orci, malesuada eget dui eget, tempus vestibulum mauris. Aenean sodales sem dui, nec fermentum ligula eleifend quis. Nunc magna purus, mattis id tincidunt vitae, consectetur in tellus.
        </p>
    </main>
    <footer>
        <span>© Copyright Conor Butler 2022</span>
        <span class="github">GitHub</span>
    </footer>
</body>
</html>