body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

header {
    display: grid;
    grid-template-columns: 40fr 1fr;
    align-items: center;
}

main {
    height: 100%;
}
