header h1 {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.github {
    float: right;
    margin-right: 24px;
}
