body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 { 
    margin: 0;
}

header {
    background: #F0F0F0;
    height: 100px;
    padding: 0px 20px;
}

header h1 {
    font-size: 24px;
    font-weight: 500;
}

.logo img {
    height: 36px;
}

nav a {
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    margin: 0px 10px;
}

nav, footer {
    background: darkgrey;
    padding: 12px;
}

main {
    margin: auto;
    padding-top: 50px;
    max-width: 70%;

}

main h1 {
    font-size: 16px;
}
